<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <input type="text" class="in" placeholder="name">
    <input type="text" class="pass" placeholder="password">
    <button class="btn">submit</button>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelector('.btn').addEventListener('click', () => {
                const inpt = document.querySelector('.in').value;
                const pass = document.querySelector('.pass').value;
    
                const data = {
                    name: inpt,
                    password: pass
                };
    
                fetch('http://127.0.0.1:8000/save_use/', {  // Replace with your actual API endpoint
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    alert('Success: ' + JSON.stringify(data));
                })
                .catch((error) => {
                    alert('Error: ' + error);
                });
            });
        });
    </script>
    
</body>
</html>